html.lenis,
html.lenis body {
    height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
    overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
}

* {
    box-sizing: border-box;
}

:root {
    --muted-cyan: #00B2C8;
    /* Global variable */
    --text-color: black;
    --grey: #848484;
    --purple: #a958b8;
    --color-gradient-counter: linear-gradient(57.83deg, rgba(187, 229, 235, .4) 23.83%, rgba(73, 229, 212, .6) 50.88%, #2a6ff1 86.22%) border-box;
}

@font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/DMSans.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/PlayfairDisplayItalic.ttf) format('truetype');
    font-display: swap;
}

html {
    height: 100%;
    /* Use 100% instead of 100vh for more consistent behavior */
    overflow: hidden;
    background-color: rgb(212, 212, 212);
}

body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'DMSans', sans-serif;
}

.wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}



canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    pointer-events: all;
}

body>img {
    position: fixed;
    bottom: 00px;
    left: 50%;
    transform: translateX(-50%);
    height: 70vh;
}

.outerContainer {
    overflow-y: auto;
    display: flex;
    z-index: 0;
    flex-direction: column;
    margin: 0;
}

.no-mobile {
    position: fixed;
    /* display: grid;
    justify-items: center;
    align-items: center; */
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    margin: auto;
    z-index: 2;
    /* overflow: hidden; */
    
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color: var(--grey);
    margin: 0 auto;
    z-index: 2;
    margin-top: 5px;
}

.nav-bg{
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.246);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    margin-top: 5px;
    padding: 5px 7vw;
}

.nav-container > img{
    transform: translateY(-3px);
}

.nav-container>p {
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.nav-container>p:hover {
    color: var(--muted-cyan)
}

nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
}

.menu-bar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 81px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    pointer-events: all;
    z-index: 2;
    margin-top: 15px;

}

.menu-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 15px; */
}

.menu-logo>a {
    display: block;
}

.mobile-logo {
    width: 300px;
}

.menu-toggle-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.menu-toggle-label {
    overflow: hidden;
}

.menu-toggle-label p {
    color: transparent;
    position: relative;
    transform: translateY(0%);
    will-change: transform;
}

.menu-hamburger-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    /* border-radius: 100%; */
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;

}

.menu-hamburger-icon span {
    position: absolute;
    width: 15px;
    height: 1.25px;
    background-color: transparent;
    transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
    transform-origin: center;
    will-change: transform;
    background-clip: border-box !important;
}

.menu-hamburger-icon span:nth-child(1) {
    transform: translateY(-4px);
}

.menu-hamburger-icon span:nth-child(1) {
    transform: translateY(4px);
}

.menu-hamburger-icon.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
    z-index: 1;
}

.menu-overlay {
    background: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    will-change: clip-path;
}

.menu-overlay-content {
    display: block;
    will-change: transform;
    pointer-events: all;
    position: relative;
}

.menu-content-wrapper {
    position: relative;
    height: 100svh;
    display: grid;
    grid-template-rows: 90% 10%;
    align-items: center;
}

.menu-content-main {
    position: relative;
    margin: 20px 50px;
}

.menu-footer {
    position: relative;
    bottom: 0;
    margin: 20px auto;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-items: center;
    align-self: flex-end;

}


.menu-link a {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

.menu-link .line {
    color: white;
}

.menu-link.active .line {
    background: radial-gradient(circle, var(--muted-cyan), var(--purple));
    background-clip: text;
    color: transparent;
    animation: bg-text 3s linear infinite;
    background-size: 200% 200%;
}

.menu-tag a,
.menu-footer p {
    color: var(--grey) !important;
}

.menu-footer .line {
    color: var(--grey) !important;
}

.line {
    position: relative;
    will-change: transform;
}


nav.mobile a {
    text-decoration: none;
    font-size: 48px;
    font-weight: 500;
    color: white;
}

nav.mobile p {
    margin: 0;
}

.outerContainer {
    position: relative;
    transform: translateY(0svh);
}

.outerContainer>section {
    display: block;
    position: relative;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    /* color: #28b4f5 */
    padding-bottom: 12vh;
}

.logo {
    cursor: pointer;
    margin: 0 30px;
    width: 350px;
}

h1 {
    font-family: 'DMSans';
    font-size: 64px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1>i {
    color: var(--muted-cyan);
}

.cyan-color {
    color: var(--muted-cyan);
}

.purple-color {
    color: var(--purple);
}

.section1 {
    /* overflow-y: hidden; */
}

.section1>img {
    margin-top: 20px;
}

.section1>h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(12vh + 25px);
    color: var(--grey);
    /* font-size: 64px; */
}

.section1>h1>i {
    padding-right: 3px;
}

.ticker {
    position: absolute;
    padding: 0;
    white-space: nowrap;
    width: 100vh;
    overflow: hidden;
}

.ticker1 {
    /* top: -50px;
    left: 0px;
    transform: translateX(49px) rotate(90deg);
    transform-origin: left; */
    padding: 6px 0;
    bottom: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    /* padding: 0; */
    transform: translateY(50px);
    /* z-index: 1000000; */
    background-color: rgba(172, 172, 172, 0.466);


}

.ticker2 {
    /* right: 0px; */
    bottom: -50px;
    left: calc(100%);
    transform: translateX(-49px) rotate(-90deg);
    transform-origin: left;
}


.ticker3 {
    top: -50px;
    left: 0px;
    transform: translateX(20px) rotate(90deg);
    transform-origin: left;
    /* background-color: rgb(203, 203, 203); */
    width: 200vh;
}

.ticker4 {
    top: -50px;
    right: 0px;
    transform: translateX(-30px) rotate(-90deg);
    transform-origin: right;
    /* background-color: rgb(203, 203, 203); */
    width: 200vh;

}

.ticker-wrap {
    display: flex;
    gap: 20px;
}

.ticker-text {
    font-size: 45px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.411);
    letter-spacing: 5px;
}

.bg-color {
    background: radial-gradient(circle, var(--muted-cyan), var(--purple));
    background-clip: text;
    color: transparent;
    animation: bg-text 3s linear infinite;
    background-size: 200% 200%;
}

@keyframes bg-text {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.legal-container {
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 0;
    color: var(--grey);
    flex-direction: row;
    font-size: 18px;
    gap: 20px;
    margin-left: 30px;
}

.section2 {
    padding-left: 25vw;
}

.section2>h1 {
    margin-top: 150px;
}

.stats-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    padding: 0 100px;
}



.stats-container>div>img {
    /* width: 60px; */
    height: 50px;
    width: auto;
}

.stats-container>div {
    margin: 40px 0;
}

.stats-container>div>p {
    margin: 18px;
}

.stats-container>div>p:first-of-type {
    font-size: 36px;
    letter-spacing: 3px;
    font-weight: 800;
    margin-top: 12px;
}

.stats-container>div>p:last-of-type {
    font-size: 20px;
    color: var(--grey);
}


.section3 {
    padding-left: 100px;
    padding-right: 25vw;
    position: relative;
    display: grid !important;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}



.heading-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    align-items: start;
    margin: auto;
    margin-bottom: 100px;
}

.heading-container>h1 {
    margin: 0;
}

.heading-container>img {
    height: 40px;
    margin-left: 15px;
    /* margin-top: 50px; */
}

.about-container {
    width: 70%;
    margin: auto;
    font-size: 24px;
}

.about-container>p {
    font-weight: 100;
}

.section4 {
    /* min-height: 200vh !important; */
    position: relative;
    /* overflow-x: hidden;
    overflow-y: auto; */

}

.cards-container {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 200vh;
    justify-items: left;
    align-items: center;
    margin: 0 5vw;
}

.cards-container>div {
    position: relative;
    width: 35vw;
    text-align: left;
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px 50px;
    /* background: rgba(255, 255, 255, 0.07); */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);

    /* transition: opacity 0.5s ease-in; */
    /* transform: translateY(50%); */
    opacity: 0;
    will-change: transform;
}

.cards-container>div>img {
    width: 100px;
}

.cards-container>div>h3 {
    font-size: 36px;
    color: #656565;
    font-style: italic;
}

.cards-container>div>p {
    font-size: 28px;
    color: transparent;
    font-weight: 800;
    letter-spacing: 0.5px;
    /* opacity: 0.3; */
    text-align: left;
    
}

.card-text-background {
    /* opacity: 1 !important; */
    background: radial-gradient(circle, var(--muted-cyan), var(--purple));
    background-clip: text;
    color: transparent !important;
    animation: bg-text 3s linear infinite;
    background-size: 200% 200%;
}

.card2container {
    justify-self: end;
}

.section5 {
    position: relative;
}

.carousel-container {
    position: relative;
    /* background-color: red; */
    height: 100%;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.item>img {
    max-height: 50vh;
}

.item>button {
    position: relative;
    opacity: 0;
    transition: opacity 0.2s ease-in, box-shadow 3s linear;
    padding: 20px 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}

.item>button>p {
    font-size: 18px;
    margin: 0;
}

.item>button:hover {
    /* color: white; */
    transition: opacity 0.2s ease-in, box-shadow 3s linear;

    box-shadow:
        inset 0 8px 32px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.1),
        0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__arrow {
    height: 4em;
    width: 4em;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* border-radius: 20px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__arrow:hover {
    box-shadow:
        inset 0 8px 32px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.1),
        0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__slide.is-visible.is-active>.item>button {
    opacity: 1;
}

.splide__pagination {
    bottom: -40px;
}

.section6 {
    position: relative;
    text-align: left !important;
    padding: 0 170px;
}

.section6>p {
    max-width: 800px;
}

.client-container {
    position: relative;
    margin: 80px 0;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 50px;
    width: fit-content;
}

.client-container>img {
    width: 200px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1500px) {

    .cards-container>div {
        width: 40vw;
    }

    .cards-container>div>img {
        width: 90px;
    }

    .cards-container>div>h3 {
        margin: 12px 0;
    }

    .cards-container>div>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1180px){
    .nav-container{
        gap: 2vw;
    }

    .logo{
        margin: 0 15px;
    }
}

@media screen and (max-width: 1090px) {
    .nav-container {
        gap: 15px;
    }

    .logo {
        width: 280px;
        margin: 0 15px;
    }

    .nav-container>p {
        font-size: 16px;
    }

    .section1>h1 {
        font-size: 54px;
    }

    .section6 {
        padding: 0 40px;
    }

    .section6>p {
        max-width: 500px;
    }

    .section2 {
        padding-left: 37vw;
    }


    .stats-container {
        padding: 0 10px;
    }

    .section3 {
        padding-left: 40px;
        text-align: left;
    }

    .heading-container {
        margin: 0;
        margin-bottom: 60px;
    }

    .heading-container>img {
        height: 55px;

    }

    .about-container {
        text-align: left;
        margin: 0;
        font-size: 22px;
    }

    .cards-container {
        margin: 0 50px;
    }

    .cards-container>div {
        width: 45vw;
    }

    .cards-container>div>img {
        width: 80px;
    }

    .cards-container>div>h3 {
        font-size: 32px;
    }

    .cards-container>div>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px){
    .nav-container{
        gap: 2vw;
        padding: 5px 5vw;
    }

    .nav-container > p{
        font-size: 14px;
    }

    .logo{
        margin: 0 10px;
    }
}

@media screen and (max-width: 800px) {

    .no-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }


    .section1>h1 {
        max-width: 90vw;
        font-size: 48px;
    }


    .about-container {
        font-size: 18px;
    }

    .client-container>img {
        width: 150px;
    }

    .cards-container>div>img {
        width: 70px;
    }

    .cards-container > div {
        padding: 10px 30px;
    }

    .cards-container>div>p {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {

    .mobile-logo {
        width: 250px;
    }

    .menu-bar {
        height: 67px;
    }

    .section1>h1 {
        font-size: 44px;
    }

    .section2 {
        padding-left: 0;
    }

    .section3 {
        padding: 0;
    }

    .heading-container,
    .about-container {
        margin-left: auto;
        margin-right: auto
    }

    .about-container {
        width: 85%;
        text-align: center;
    }

    .client-container>img {
        width: 100px;
    }

    .cards-container>div>img {
        width: 60px;
    }

    .cards-container > div{
        width: 55vw;
    }

    .cards-container>div>h3 {
        font-size: 24px;
    }

    .cards-container>div>p {
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {

    .section1>h1 {
        width: 95vw;
        font-size: 40px;
    }

    .mobile-logo {
        width: 240px;
    }

    .menu-bar {
        height: 65px;
    }

    .cards-container>div{
        width: 55vw;
    }



}

@media screen and (max-width: 550px) {
    .mobile-logo {
        width: 220px;
    }


    .menu-bar {
        height: 58px;
    }

    .section1>h1 {
        font-size: 38px;
    }

    .menu-toggle-label {
        display: none;
    }

    .cards-container > div{
        width: 60vw;
    }
}


@media screen and (max-width: 485px) {

    .mobile-logo {
        width: 200px;
    }

    .section1>h1 {
        font-size: 56px;
    }

    .menu-bar {
        height: 50px;
    }

    .client-container {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
    }

    .section4{
        overflow-x: hidden;
    }

    .ticker3{
        transform: translateX(-0px) rotate(90deg);
    }

    .ticker4{
        transform: translateX(-0px) rotate(-90deg);
    }
}

@media screen and (max-width: 444px) {

    .menu-toggle-label {
        font-size: 12px;
    }

    .mobile-logo {
        width: 190px;
    }

    .menu-bar {
        height: 48px;
    }

    .section1>h1 {
        font-size: 48px;
    }

    .cards-container > div{
        width: 70vw;
    }

    /* .ticker3 .ticker-text, .ticker4 .ticker-text{
        font-size: 36px;
    } */


}

@media screen and (max-width: 423px) {
    .section1>h1 {
        font-size: 44px;
    }

    .cards-container > div{
        width: 75vw;
        justify-self: center;
    }

}