html.lenis,
html.lenis body {
    height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
    overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
}

:root {
    --muted-cyan: #00B2C8;
    /* Global variable */
    --text-color: black;
    --grey: #848484;
    --purple: #a958b8;
    --color-gradient-counter: linear-gradient(57.83deg, rgba(187, 229, 235, .4) 23.83%, rgba(73, 229, 212, .6) 50.88%, #2a6ff1 86.22%) border-box;
}

@font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/DMSans.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/PlayfairDisplayItalic.ttf) format('truetype');
    font-display: swap;
}

body {
    margin: 0;

    background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
        linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%),
        linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    font-family: 'DMSans', sans-serif;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    pointer-events: all;
}

.outerContainer {
    display: flex;
    z-index: 0;
    gap: 10vh;
    flex-direction: column;
    margin: 0;
}

nav {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */
    height: 12vh;
    margin: auto;
    z-index: 1;
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color: var(--grey)
}

.nav-container>p {
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.nav-container>p:hover {
    color: var(--muted-cyan)
}

.outerContainer>section {
    display: block;
    position: relative;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    /* color: #28b4f5 */
}

.logo {
    cursor: pointer;
    margin: 0 30px;
    width: 350px;
}

h1 {
    font-family: 'DMSans';
    font-size: 64px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1>i {
    color: var(--muted-cyan);
}

.cyan-color {
    color: var(--muted-cyan);
}

.purple-color {
    color: var(--purple);
}

.section1>img {
    margin-top: 20px;
}

.section1>h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(12vh + 25px);
    color: var(--grey);
    /* font-size: 64px; */
}

.legal-container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    color: var(--grey);
    flex-direction: row;
    font-size: 18px;
    gap: 20px;
    margin-left: 30px;
}

.section2 {
    padding-left: 25vw;
}

.stats-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    padding: 0 100px;
}



.stats-container>div>img {
    /* width: 60px; */
    height: 50px;
    width: auto;
}

.stats-container>div {
    margin: 40px 0;
}

.stats-container>div>p {
    margin: 18px;
}

.stats-container>div>p:first-of-type {
    font-size: 36px;
    letter-spacing: 3px;
    font-weight: 800;
    margin-top: 12px;
}

.stats-container>div>p:last-of-type {
    font-size: 20px;
    color: var(--grey);
}


.section3 {
    padding-left: 100px;
    padding-right: 25vw;
}

.heading-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    align-items: start;
    margin: auto;
    margin-bottom: 100px;
}

.heading-container>h1 {
    margin: 0;
}

.heading-container>img {
    height: 40px;
    margin-left: 15px;
    /* margin-top: 50px; */
}

.about-container {
    width: 70%;
    margin: auto;
    font-size: 24px;
}

.about-container>p {
    font-weight: 100;
}

.section4 {
    /* min-height: 200vh !important; */
    position: relative;
    /* overflow-x: hidden;
    overflow-y: auto; */

}

.cards-container {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 200vh;
    justify-items: left;
    align-items: center;
    margin: 0 5vw;
}

.cards-container>div {
    position: relative;
    width: 30vw;
    /* padding: 60px 40px; */
    /* perspective: 1000000px; */

}

/* .card-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid transparent;
    background: var(--color-gradient-counter);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: source-out;
    mask-composite: exclude;
} */

/* .cards-container>div:nth-child(2) {
    justify-self: right;
} */

.card-container {
    border-radius: 50px;
    /* opacity: 0; */
    /* background-color: #ffffffcc; */
    transform: rotateY(-90deg);
    padding: 20px 40px;
    transform-origin: left;

}

.card-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 20px 10px rgba(255, 255, 255, 1); */
    position: relative;
    overflow: hidden;
}

/* .card-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.card-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
} */


.card-container>img {
    width: 80px;
}

.card-container>h3 {
    font-size: 36px;
    /* color: #a2d2df */
}

.card-container>p {
    font-size: 18px;
    color: #3f3f3f;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.section5 {
    position: relative;
}

.carousel-container {
    position: relative;
    /* background-color: red; */
    height: 100%;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.item>img {
    max-height: 50vh;
}

.item>button {
    position: relative;
    opacity: 0;
    transition: opacity 0.2s ease-in, box-shadow 3s linear;
    /* transition: box-shadow 1s ease-in;    */
    padding: 20px 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}

.item>button:hover {
    /* color: white; */
    transition: opacity 0.2s ease-in, box-shadow 3s linear;

    box-shadow:
        inset 0 8px 32px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.1),
        0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__arrow {
    height: 4em;
    width: 4em;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* border-radius: 20px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__arrow:hover {
    box-shadow:
        inset 0 8px 32px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.1),
        0 0 0px 0px rgba(255, 255, 255, 0);
}

.splide__slide.is-visible.is-active>.item>button {
    opacity: 1;
}

.splide__pagination {
    bottom: -40px;
}

.section6 {
    position: relative;
    text-align: left !important;
    padding: 0 170px;
}

.section6>p {
    max-width: 800px;
}

.client-container {
    position: relative;
    margin: 80px 0;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 50px;
    width: fit-content;
}

.client-container>img {
    width: 200px;
}

@media screen and (max-width: 1090px) {
    .nav-container {
        gap: 15px;
    }

    .logo {
        width: 250px;
        margin: 0 15px;
    }

    .nav-container>p {
        font-size: 16px;
    }

    .section1>h1 {
        font-size: 54px;
    }

    .section6 {
        padding: 0 40px;
    }

    .section6>p {
        max-width: 500px;
    }

    .section2 {
        padding-left: 37vw;
    }


    .stats-container {
        padding: 0 10px;
    }

    .section3 {
        padding-left: 40px;
        text-align: left;
    }

    .heading-container {
        margin: 0;
        margin-bottom: 60px;
    }

    .heading-container>img {
        height: 55px;

    }

    .about-container {
        text-align: left;
        margin: 0;
        font-size: 24px;
    }

    .cards-container {
        margin: 0 40px;
    }

    .cards-container>div {
        width: 45vw;
    }

    .card-container>img {
        width: 40px;
    }

    .card-container>h3 {
        font-size: 24px;
    }

    .card-container>p {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .section1>h1 {
        max-width: 80vw;
    }

    .about-container {
        font-size: 22px;
    }

    .client-container>img{
        width: 150px;
    }
}

@media screen and (max-width: 620px) {
    .section2{
        padding-left: 0;
    }
    .section3{
        padding: 0;
    }
    .heading-container, .about-container{
        margin-left: auto;
        margin-right: auto
    }
    .about-container{
        width: 85%;
        text-align: center;
    }

    .client-container>img{
        width: 100px;
    }

}